@import "../atoms/tokens";

.flightboard {
  padding: 40px 0;
  
  &--outfordelivery {
    background-image: $linear-gradient-outfordelivery;
  }

  &--intransit {
    background-image: $linear-gradient-intransit;
  }

  &--delivered {
    background-image: $linear-gradient-delivered;
  }
}

.flightboard__status {
  color: $color-text-light;
  font-weight: $font-weight-bold;
  display: block;
  text-align: center;
}

.flightboard__meta {
  color: $color-text-light;
  font-weight: $font-weight-light;
  display: block;
  text-align: center;
}
