<div class="container">
  <div class="row">
    <div class="flightboard flightboard--outfordelivery clearfix">
      <h1 class="flightboard__status">Out For Delivery</h1>
      <span class="flightboard__meta">San Jose &dot; 5:28PM</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="flightboard flightboard--intransit clearfix">
      <h1 class="flightboard__status">In Transit</h1>
      <span class="flightboard__meta">San Jose &dot; 5:28PM</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="flightboard flightboard--delivered clearfix">
      <h1 class="flightboard__status">Delivered</h1>
      <span class="flightboard__meta">San Jose &dot; 5:28PM</span>
    </div>
  </div>
</div>
