$color-brand-primary:               #FFFFFF !default;
$color-brand-secondary:             #FFFFFF !default;
$color-text-light:                  #FFFFFF !default;


$font-family:                       'Lato', sans-serif !default;
$font-size-display-large:           50px;
$font-size-body-normal:             28px;
$font-weight-light:                 300;
$font-weight-regular:               400;
$font-weight-bold:                  700;


$linear-gradient-outfordelivery:    linear-gradient(-90deg, #00B2FF 0%, #3B92D1 100%);
$linear-gradient-intransit:         linear-gradient(-90deg, #39DE9D 0%, #00B1FE 100%);
$linear-gradient-delivered:         linear-gradient(-90deg, #00EC87 0%, #39DE9D 100%);


html {
  font-family: $font-family;
}
